@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

a.active hr {
  display: block;
}

.grainify {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, black, rgb(0, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
